<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.DerbyDialect</property>
		<mapping resource="com/parrot/portal/domain/user/impl/Module.hbm.xml" />
		<mapping resource="com/parrot/portal/domain/user/impl/User.hbm.xml" />
		<mapping resource="com/parrot/portal/domain/user/impl/Role.hbm.xml" />
		<mapping resource="com/parrot/portal/domain/user/impl/Task.hbm.xml" />
	</session-factory>

</hibernate-configuration>